<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel='stylesheet' href='css/main.css.scss'
  </head>
  <body>

    <div ng-controller="PlayerController">

      <button ng-click="play()" class="buton" ng-show="!playing">Play</button>
      <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
      Playing audio: <b>{{playing}}</b>

      <div ng-controller="MyController">
        <input type='text' ng-model='person.name' placeholder='enter name' />
        <h5>Hi {{ person.name }}</h5>
        <h5>Time is {{ clock }}</h5>
      </div>
    </div>

  </body>
</html>
